video {
    /*width: 307px;
            height: 250px;*/
    display: inline-block;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
}

.grayscale {
    filter: grayscale(1);
}

.sepia {
    filter: sepia(1);
}

.blur {
    filter: blur(3px);
}